@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
  /* transition: color 0.3s, background-color 0.3s;
  min-height: 100vh; */
  line-height: 1.5;
}


a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

h1 {
 
}

.no-scrollbar {
  /* Target WebKit browsers (Chrome, Safari, etc.) */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Target Internet Explorer (less common these days) */
  -ms-overflow-style: none;
}

.react-calendar{
  background-color: transparent !important;
  border: none !important;
}
